/* LAYOUT / BASICS  */
/****************************/

html {
	background-color: #14b9cc;
	font-family: Helvetica, sans-serif;
}

body {
	margin-bottom: -100px;
}

#wrap {
	text-align: center;
	clear: both; 
	margin: 0 auto; 
	width: 800px;
	position: relative;
	background: #999;
	padding-bottom: 50px;
}

header {
	height: 175px;
	width: 800px;
	margin-top: -75px;
	background: black;
}

h1 {
	font-family: 'Play', sans-serif;
	margin-left: -9999px;
	font-weight: 700;
	font-size: 1.925em;
	color: white;
}

body {
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: large;
	color: white;
}

#about {
	padding-bottom: 30px;
	width: 680px;
	text-align: left;
	margin: 0 auto;
	margin-bottom: -20px;
	font-size: 1em;
	color: white;
}

#about a {
	text-decoration: none;
	color: yellow;
}

.spacer {
	clear: both;
}


footer {
	text-align: center;
	clear: both; 
	margin: 0 auto; 
	margin-top: 40px;
	width: 760px;
	height: 75px;
	padding: 20px 20px 0 20px;
	color: white;
}


/* GAME */
/****************************/

#t-12 {
	background-color: tan;
	text-align: center;
	clear: both; 
	margin: 0 auto; 
	width: 385px;
	height: 550px;
	border: 65px solid tan;
	border-radius: 35px;
	padding-bottom: 20px;
	box-shadow: 0px 5px 10px 1px #333;
	-moz-box-shadow: 0px 5px 10px 1px #333;
	-webkit-box-shadow: 0px 5px 10px 1px #333;
}	


#grid {
	background-color: black;
	width: 385px;
	height: 555px;
	margin: 25px 0 25px 0;
	position: relative;
	text-align: center;
	clear: both; 
	margin: 0 auto; 
	padding-bottom: 20px;
	border-radius: 20px;
	margin-top: -25px
}


/* Pads */

.pad {
	width: 100px;
	height: 15px;
	float: left;
	cursor: pointer;
	margin: 20px 0px 5px 20px;
	padding-top: 95px;
	font-family: Helvetica, sans-serif;
	color: white;
	font-size: medium;
	text-align: right;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../imgs/corner-tex.png) no-repeat;
	opacity: .85;

}

#p1 {
	background-color: purple;
}

#p2 {
	background-color: darkorange;
}

#p3 {
	background-color: deeppink;
}

#p4 {
	background-color: seagreen;
}

#p5 {
	background-color: blue;
}

#p6 {
	background-color: skyblue;
}

#p7 {
	background-color: yellow;
}

#p8 {
	background-color: salmon;
}

#p9 {
	background-color: lime;
}

#p10 {
	background-color: red;
}

#p11 {
	background-color: plum;
}

#p12 {
	background-color: sienna;
}

p.game {
	font-family: Helvetica, sans-serif;
	color: white;
	font-size: x-small;
	text-align: left;
	margin-top: 1px;
}


/* Controls  */

#buttons {
	float: left;
	width: 301px;
	height: 50px;
	margin: 10px 0 0 0px;
	padding: 35px 0 0 80px;
	position: relative;
}

input[type=button] {
	background-color: #1F1400;
	border: 1px solid #111;
	border-bottom: 1px solid #111;
	border-radius: 3px;
	color: #fff;
	font: "Helvetica", sans-serif;
	padding: 6px 0 6px 0;
	position:relative;
	top:-1px;
	float: left;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	display: inline;
}

input[type=button]:hover {
    background-color: #000;
    cursor: pointer; 
}

input[type=button]:active {
    border: 1px solid #111;
    border-bottom: 1px solid #111; 
}






